<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Datum </th>
        <th> Stadt </th>
        <th> Preis </th>
        <th> Distanz </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tanken.empty}">
        <td colspan="2">Keine Tankstellen verfügbar</td>
    </tr>
    <tr th:each="tank : ${tanken}">
        <td><span th:text="${tank.name}"> Name </span></td>
        <td><span th:text="${tank.date}"> Datum </span></td>
        <td><span th:text="${tank.city}"> Stadt </span></td>
        <td><span th:text="${tank.price}"> Preis </span></td>
        <td><span th:text="${tank.distance}"> Distanz </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>