<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Günstiger Tanken App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<div class="back">
        <div id="contents">
            <login-new>
            </login-new>
        </div>
</div>

<!-- include Vue.js -->
<!-- we include babel js so that we can write ES6 code in the browser
     for a more production like setup it is recommended to setup a build process
     to transpile and minify the code (such as using webpack)
 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script type="text/babel">

    Vue.component('login-new', {
        props: [],
        template: `<div class="div-center"><h3>Login</h3>
            <hr />
            <form id="loginForm">
                <div class="form-group">
                    <label for="inputUsername">Benutzername</label>
                    <input type="username" class="form-control" id="inputUsername" placeholder="Benutzername">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Passwort</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Passwort">
                </div>
               <button type="submit">Login</button>
                <span style="visibility: hidden" id="errorLogin" class="label label-danger">Falsche Login-Daten!</span>
                <hr />
                <!--<button type="button" class="btn btn-link">Signup</button>
                <button type="button" class="btn btn-link">Reset Password</button>-->
            </form></div>`
    });



    var app = new Vue({
        el: '#contents',
        data: {
        },
        methods: {

        }
    });

    document.getElementById("loginForm").addEventListener('submit', function(evt){
        evt.preventDefault();
        var username = document.getElementById("inputUsername").value;
        var password = document.getElementById("inputPassword").value;
         if(username === "tugce" && password === "passwort")
         {
             document.getElementById("errorLogin").style.visibility = "hidden";
             window.open("/main");
         } else{
              document.getElementById("errorLogin").style.visibility = "visible";
         }

    });

</script>
</body>

</html>